body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

body>div {
    box-shadow: 0px 0px 20px 0px black;
    background: #fffffff7;
    border-radius: 15px;
    margin: 15px;
    bottom: 0;
    position: absolute;
}

#rightRail>:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#rightRail>:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#rightRail .raw {
    height: 40%;
}

#rightRail .log {
    height: 57%;
}
#rightRail {
    top: 0;
    right: 0;
    width: 25%;
}

#rightRail #toolbar {
    height: auto;
    justify-content: space-between;
    display: flex;
}

#rightRail #toolbar button {
    color: gray;
    right: 0;
}

#rightRail #toolbar>* {
    font-size: x-large;
    color: gray;
    padding: 0px;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

body>div>div, body>div>table {
    bottom: 55px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    margin: 15px;
}

#rightRail>input[type="text"]:focus {
    box-shadow: 0 0 5px blue;
}

#cmd {
    width: -webkit-fill-available;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    border-color: lightgray;
    position: absolute;
    bottom: 0px;
}

.CodeMirror {
    height: 100% !important;
    background: transparent !important;
}

.poppable {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
}

.connected {
    color: green !important;
}

#settingsMenu {
    left: calc((100% - 25% - 400px) / 2);
    width: 400px;
    height: 300px;
    top: calc((100% - 300px) / 2);
    max-width: 35%;
}

#settingsMenu .param td {
    width: 100%;
}

#settingsMenu .param td:last-child>* {
    font-size: 12pt;
    width: 120px;
}

#settingsMenu>input {
    bottom: 0;
    position: absolute;
    margin: 15px;
    width: 40%;
}

#settingsMenu .buttons {
    top: unset;
    height: 30px;
    bottom: 0;
}

.buttons .button {
    position: absolute;
    width: 100px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    cursor: default;
}

.buttons .button:hover {
    background: #eeeeee;
}

.buttons .button:first-child {
    left: 0px;
}

.buttons .button:last-child {
    right: 0px;
}

.buttons .button:hover:active {
    background: #d2d7e4;
}