.menu {
    -webkit-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black;
    background: #fffffff7;
    border-radius: 15px;
    margin: 15px;
    bottom: 0;
    position: absolute;
}

.container {
    bottom: 55px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 15px;
}

.menu {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    visibility: hidden;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.menu.open {
    visibility: visible;
    -webkit-animation-name: pop-in;
    animation-name: pop-in;
}

.menu.closed {
    -webkit-animation-name: pop-out;
    animation-name: pop-out;
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        visibility: hidden;
    }

    50% {
        opacity: 1.0;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        visibility: visible;
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1.00);
                transform: scale(1.00);
        visibility: visible;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        visibility: hidden;
    }

    50% {
        opacity: 1.0;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        visibility: visible;
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1.00);
                transform: scale(1.00);
        visibility: visible;
    }
}

@-webkit-keyframes pop-out {
    100% {
        opacity: 0;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        visibility: hidden;
    }

    30% {
        opacity: 0.5;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        visibility: visible;
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1.00);
                transform: scale(1.00);
        visibility: visible;
    }
}

@keyframes pop-out {
    100% {
        opacity: 0;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        visibility: hidden;
    }

    30% {
        opacity: 0.5;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        visibility: visible;
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1.00);
                transform: scale(1.00);
        visibility: visible;
    }
}