/* General */
#rightRail {
    top: 0;
    right: 0;
    width: 25%;
}

#rightRail>:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#rightRail>:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#rightRail .raw {
    height: 70%;
    margin-top: 20px;
}

#rightRail .log {
    height: 25%;
}

/* Toolbar */
#rightRail #toolbar {
    height: auto;
    justify-content: space-between;
    display: flex;
    background: #8080804a;
    border-radius: 10px;
    padding: 10px;
    margin: -5px;
}

#rightRail #toolbar .fas {
    font-size: x-large;
    color: gray;
    padding: 0px;
    cursor: pointer;
}

.disconnected {
}

.connecting {
    color: rgb(194, 191, 14) !important;
    animation: pulse 1s infinite alternate;
    -webkit-animation: pulse 1s infinite alternate
}

.connected {
    color: green !important;
}

@keyframes pulse {
	0% {opacity: 1;}
	100% {opacity: 0.25;}
}

@-webkit-keyframes pulse {
	0% {opacity: 1;}
	100% {opacity: 0.25;}
}

/* Command Input */
#rightRail #cmd {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    border-color: lightgray;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 40px);
}

#rightRail #cmd:focus {
    outline: unset;
    border-color: #607D8B;
}

#rightRail .CodeMirror {
    height: 100% !important;
    background: transparent !important;
}