#settingsMenu {
    left: 10%;
    top: 20%;
    right: 35%;
    bottom: 20%;
}

#settingsMenu .paramDetail {
    font-size: small;
    text-align: right;
    height: 2em;
    vertical-align: top;
}

#settingsMenu .param td {
    width: 100%;
}

#settingsMenu .param td:last-child>* {
    font-size: 12pt;
    width: 120px;
}

#settingsMenu .param>input {
    bottom: 0;
    position: absolute;
    margin: 15px;
    width: 40%;
}

#settingsMenu .buttons {
    top: unset;
    height: 35px;
    bottom: 0;
    right: 0;
    left: 0;
}

#settingsMenu .buttons .button {
    position: absolute;
    width: 100px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    cursor: default;
}

#settingsMenu .buttons .button:hover {
    background: #eeeeee;
}

#settingsMenu .buttons .button:hover:active {
    background: #d2d7e4;
}

#settingsMenu .buttons .button:first-child {
    left: 0px;
}

#settingsMenu .buttons .button:last-child {
    right: 0px;
}

#settingsMenu .settingsGroup {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
}

#settingsMenu .settingsGroup .header {
    font-weight: bold;
    font-size: 14pt;
    background: #9E9E9E;
    color: white;
    padding-block-start: 5px;
    text-align: center;
}

#settingsMenu .container {
    overflow: scroll;
}
