<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Telemetry
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <button mat-stroked-button>
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <button mat-stroked-button>
      <mat-icon>pause</mat-icon>
    </button>
  </div>
  <ngx-codemirror 
  #raw [ngModel]="currentFrame | json" 
  [options]="{ mode: { name: 'javascript', json: true } }">
  </ngx-codemirror>
</mat-expansion-panel>