<div class="menu" (mousedown)="onDrag($event)">
  <mat-accordion [multi]="true">
    <app-telemetry></app-telemetry>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-game-picker></app-game-picker>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recorder
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-recorder></app-recorder>
    </mat-expansion-panel>
  </mat-accordion>
</div>