<div class="menu" (mousedown)="onDrag($event)">
  <mat-accordion [multi]="true">
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Telemetry
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-telemetry [maxBufferLength]="40"></app-telemetry>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Debugger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-debugger></app-debugger>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recorder
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-recorder></app-recorder>
    </mat-expansion-panel>
  </mat-accordion>
</div>